<div class="card mb-3">
  <p-table [value]="users" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="caption">
      <div class="flex flex-row justify-content-between w-full align-items-center">
        <h5 class="m-0">Usuarios</h5>
        <button (click)="new()" class="p-button mr-2" icon="pi pi-plus" label="New" pButton pRipple></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="p-text-center">Nombre</th>
        <th class="p-text-center">Usuario</th>
        <th class="p-text-center">Rol</th>
        <th class="p-text-center">Estado</th>
        <th class="p-text-center">Acciones</th>
      </tr>
    </ng-template>
    <ng-template let-item pTemplate="body">
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.username}}</td>
        <td class="p-text-center">{{item.rol}}</td>
        <td class="p-text-center">
          <p-inputSwitch [(ngModel)]="item.enabled" (onChange)="changeStatus(item)"></p-inputSwitch>
        </td>
        <td class="p-text-center">
          <button (click)="edit(item)" class="p-button-rounded p-button mr-2" icon="pi pi-pencil" pButton
                  pRipple></button>
<!--          <button (click)="delete(item)" class="p-button-rounded p-button-danger" icon="pi pi-trash" pButton-->
<!--                  pRipple></button>-->
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      Footer
    </ng-template>
  </p-table>
</div>
