<div class="card mb-3">
    <form (ngSubmit)="onSubmit()" *ngIf="formulario" [formGroup]="formulario" class="flex flex-column">
        <div class="grid">
            <div class="col-6">
                <h5>Nombre</h5>
                <input class="w-full" formControlName="nombre" pInputText type="text">
            </div>
            <div class="col-6">
                <h5>Nombre</h5>
                <input class="w-full" formControlName="nombre" pInputText type="text">
            </div>
        </div>
    </form>
</div>


